__pycache__/
文献/
agents_9.5-demo/
multi-agent/garbage/
multi-agent/pipeline_results/Drama-1_2024-1-29/
multi-agent/pipeline_results/Drama-1/chapters_no-word-count-asking/
multi-agent/pipeline_results/Drama-1/chapters_no-word-count-asking.json
multi-agent/results/
multi-agent/pipeline_results/
multi-agent/pipeline_results_gpt-3.5-turbo-16k-0613/
multi-agent/pipeline_results-gpt-3.5-turbo-16k-0613-rounds-1-temp-1.0-test
multi-agent/wandb/
fxnlprchatzoo-main/
pptx/
text_files/
P-and-P-01.docx
tempCodeRunnerFile.py
try.*
*.zip
ScreenPlay*.md
.DS_Store
multi-agent/__pycache__/
multi-agent/novel/
multi-agent/src/
multi-agent/try.py
*.docx
*.doc
*.pdf
*.pptx
*.ppt
